html{
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
}

header{
display: flex;}

.home{
    display: flex;
    align-items: center;
}

.site-anchors li{
    display: inline;
    padding: 0.25rem;
}

