html{
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
}

/* header section */

header{
display: flex;
justify-content: center;}

.site-anchors li{
    display: inline;
    padding: 0.5rem;
}

/* banner Section */

.banner{
    width: 100%;
    height: auto;
}

h1{
    text-align: center;
}

/* about me */